h1{
  color: white;
  margin: 0;
}

body{
  margin: 0;
  background-color: rgb(118, 184, 82);
}

#header{
  left: 0px;
  margin:0 auto;
  padding:20px 0;
  height: 100%;
  width: 100%;
  background-color:#3D3331;
  min-height: 70px;
}

a.header_nav_bar {
  background-color: #ffffff;
  display: inline-block;
  background-color: #4CAF50;
  color: #ffffff;
  margin-left: -4;
  float: left;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  border-right: 1px solid #ddd;
  width:10%;
}

a.header_nav_bar:hover {
    background-color: #4CBF50;
}

#content{
  
  height: 100%;
  width: 100%;

  display:flex;
  justify-content: center;
  margin:0px;
   vertical-align: top;

   
}

ul#linkTable{
  margin: 20px;
  background: white;
  text-align: center;
  height: 60%;
  width: 60%;
  list-style: none;
  text-decoration: underline;
  color: blue;
}

ul#linkTable li a:hover{
  cursor : pointer;
  color: #008ae6;
}