.note_info {
	font-size: 16px;
	margin-left: 3%;
}

.note-view {
	text-align: center;
	height: 90%;
	margin-top: -4.5%;
}

textarea#note-view {
	width: 40%;
	height: 900px;
	resize: none;
  	display: inline-block;
  	margin-top: -185px;
	disabled: true;
}

.edit_button #toggle_edit {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 20%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	float:right;
	margin-top: -849px;
	margin-right: 3.8%;
}

.error  {
	color: #EF3B3A;
}

.save_button #save {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 20%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	float:right;
	margin-top: -94px;
	margin-right: 3.8%;
}

p {
  display: inline-block;
  margin-bottom: 3px;
}

.note_info {
  display: inline-block;
}