body{
	margin: 0;
	height: 100%;
	width: 100%;
	background: rgb(118, 184, 82);
}
#nav-wrapper {
left: 0px;
margin:0 auto;
padding:20px 0;
background:#3D3331;
margin-bottom: 20px;
}

ul#nav {
font-family: Verdana;
font-size:20px;
list-style:none;
margin:0 auto;
padding:0;

overflow: auto;
}

ul#nav li {
display:inline;
}

ul#nav li a {
text-decoration:none;
display: block;
padding:5px 21px;
background:rgb(118, 184, 82);
color:#000;
float:left;
text-align:center;
border-top:2px solid #000;
border-right:2px solid #000;
border-bottom:2px solid #000;
border-left:2px solid #000;
}

ul#nav li a:hover {
background:#ccffcc;
color:#000;
border-top:2px solid #000;
border-right:2px solid #000;
border-bottom:2px solid #000;
border-left:2px solid #000;
cursor: pointer;
}

h1{
	display: inline-table;
	color: #eee;
	text-align: right;
}

h1#course {
	color: #222222;
}

#content{
   	width:60%;
	margin: auto;
	display: block;
	text-align: center;
	border: 1px solid #000000;
	display: table;
	background-color: #FFFFFF;

	

   
}

ul#linkTable {
	list-style-type: none;
}

ul#linkTable li {
	margin: 2px;
	font-size: 40px;
}

ul#linkTable li a {
	color: #2D9434;
	text-decoration: none;
}

 ul#linkTable a:hover {
	text-decoration: underline;
}